* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.main_chat {
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.main_chat_header {
  height: 100px;
  padding: 0 40px;
}

.main_chat_message {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}

.main_chat_footer {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}

.side_bar {
  width: 300px;
  background-color: #253141;
  height: 100vh;
}

.side_bar_top {
  height: 100px;
  padding: 0 20px;
}

.side_bar_room {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
}