* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.main_chat {
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.main_chat_header {
  height: 100px;
  padding: 0 40px;
}

.main_chat_message {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}

.main_chat_footer {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}

.side_bar {
  width: 300px;
  background-color: #253141;
  height: 100vh;
}

.side_bar_top {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a {
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-room a {
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}

.side_bar_room {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.room  {
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: white;
}